Repository ryanbas21/wolfcola-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: create-package, errors, request

codecov.yml:

component_management:
  individual_components:
    - component_id: "create-package"
      paths:
        - "packages/create-package"
    - component_id: "errors"
      paths:
        - "packages/errors"
    - component_id: "request"
      paths:
        - "packages/request"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

add v8 dep
  packages/create-package/package.json
  packages/errors/package.json
  packages/request/package.json
  pnpm-lock.yaml
Due: create-package, errors, request

fix coverage files
  .github/workflows/ci.yml
  packages/create-package/src/index.spec.ts
  packages/create-package/src/index.ts
  packages/create-package/tsconfig.spec.json
  packages/create-package/vite.config.ts
  packages/errors/vite.config.ts
  packages/request/vite.config.ts
Due: create-package, errors, request

publish betas
  .changeset/fair-kangaroos-love.md
  .github/workflows/publish.yml
Due: none

dont tag beta
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

use pre mode
  .changeset/pre.json
  .github/workflows/publish.yml
Due: none

chore: add snapshot
  .changeset/selfish-penguins-battle.md
Due: none

exit changeset beta
  .github/workflows/publish.yml
Due: none

exit premode
  .changeset/pre.json
Due: none

dont tag in pre mode
  .github/workflows/publish.yml
Due: none

add snapshot
  .changeset/four-peas-pump.md
  .github/workflows/publish.yml
Due: none

chore: snapshots if we dont publish
  .changeset/pre.json
  .github/workflows/publish.yml
Due: none

fix base ref to ref in publish
  .changeset/metal-camels-care.md
  .github/workflows/publish.yml
Due: none

update nx
  package.json
  pnpm-lock.yaml
Due: none

make test dependent on build
  nx.json
Due: none

fix ref name
  .github/workflows/publish.yml
Due: none

fix ci again
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore: ci fix base ref
  .github/workflows/ci.yml
Due: none

repair nx
  packages/biome-config/package.json
  packages/create-package/package.json
  packages/errors/package.json
  packages/request/package.json
  packages/typescript-config/package.json
Due: create-package, errors, request

use version for snapshot
  .changeset/config.json
Due: none

add changeset
  .changeset/poor-elephants-pay.md
Due: none

snapshot updates
  package.json
  packages/errors/src/index.ts
Due: errors

Version Packages
  .changeset/fair-kangaroos-love.md
  .changeset/four-peas-pump.md
  .changeset/metal-camels-care.md
  .changeset/poor-elephants-pay.md
  .changeset/selfish-penguins-battle.md
  packages/biome-config/CHANGELOG.md
  packages/biome-config/package.json
  packages/create-package/CHANGELOG.md
  packages/create-package/package.json
  packages/errors/CHANGELOG.md
  packages/errors/package.json
  packages/request/CHANGELOG.md
  packages/request/package.json
  packages/typescript-config/CHANGELOG.md
  packages/typescript-config/package.json
Due: create-package, errors, request

chore: fix-branch
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore: add var
  .github/workflows/publish.yml
Due: none

chore: add var
  .github/workflows/publish.yml
  .npmrc
Due: none
